# Dependencies
node_modules
.bun
cache
tmp

# Output
dist
out
build

# OS files
.DS_Store
Thumbs.db

# Project specific
e2e/notes-testdata
notes-export
packages/an-export/node_modules # In case they are ever recreated

# Workspace specific
*.log
.env
.env.*
!.env.example

.kore/